# Python
*.pyc
__pycache__/
env/
venv/
*.pyo
*.pyd
*.sqlite3

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
staticfiles/

# Node / React
node_modules/
build/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env